<head>
    <title>Binaural Beats</title>
    <!--Add icons to use with Bulma-->
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="node_modules/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/app.css">
</head>

<!--Navigation with left, center and right floating-->
<nav class="nav has-shadow">
    <div class="nav-left">
        <a class="nav-item" href="#">
            <h1 class="title">Wavy Binaural Beats</h1>
        </a>
    </div>

    <div class="nav-center">
        <a class="nav-item" href="https://github.com/JelaniThompson/binauralbeats" target="_blank">
            <span class="icon">
                <i class="fa fa-github"></i>
              </span>
        </a>
    </div>

    <div class="nav-right">
        <!--Bring up content modal when clicked-->
        <a class="nav-item button is-info is-medium header-button" href="#">
        Learn More
      </a>
        <a class="nav-item button is-warning is-medium header-button" href="#">
              Donate
            </a>
    </div>
</nav>

<body>
    <div class="container">
        <div class="modal is-active">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Information on Binaural Beats</p>
                    <button class="delete"></button>
                </header>
                <section class="modal-card-body">
                  <p>The term 'binaural' literally signifies 'to hear with two ears', and was introduced in 1859 to signify the practice of listening to the same sound through both ears, or to two discrete sounds, one through each ear. It was not until 1916 that Carl Stumpf (1848-1936), a German philosopher and psychologist, distinguished between dichotic listening, which refers to the stimulation of each ear with a different stimulus, and diotic listening, the simultaneous stimulation of both ears with the same stimulus.[3][4]

Later, it would be become apparent that binaural hearing, whether dichotic or diotic, is the means by which the geolocation and direction of a sound is determined.[5][6]

Scientific consideration of binaural hearing began before the phenomenon was so named, with the ideas articulated in 1792 by William Charles Wells (1757–1817), a Scottish-American printer, and physician at Saint Thomas' Hospital, London. Wells sought to theoretically examine and explain aspects of human hearing, including the way in which listening with two ears rather than one might affect the perception of sound, which proceeded from his research into binocular vision.[7][8]

Subsequently, between 1796 and 1802, Giovanni Battista Venturi (1746 - 1822), an Italian physicist, savant, man of letters, diplomat, and historian of science, conducted and described a series of experiments intended to elucidate the nature of binaural hearing.[9][10][11][12] It was in an appendix to a monograph on color that Venturi described experiments on auditory localization using one or two ears, concluding that "the inequality of the two impressions, which are perceived at the same time by both ears, determines the correct direction of the sound."[13][14]

However, none of Venturi's contemporaries at the end of the eighteenth and beginning of the nineteenth centuries considered his original work worthy of citation or attention, with the exception of Ernst Florens Friedrich Chladni (1756–1827), a German physicist and musician, who is widely cited as the father of acoustics. After investigating the behavior of vibrating strings and plates, and examining the way in which sound appeared to be perceived, Chladni acknowledged Venturi's work, agreeing with him that the ability to determine the location, and direction of sound depended upon detected differences in a sound between both ears, including amplitude and frequency, subsequently denoted by the term 'interaural differences'.[15][16][17]

Other significant historic investigations into binaural hearing include those of Charles Wheatstone (1802–1875), an English scientist, whose many inventions included the concertina and the stereoscope, Ernst Heinrich Weber (1795–1878), a German physician cited as one of the founders of experimental psychology; and August Seebeck (1805–1849), a scientist at the Technische Universität, Dresden, remembered for his work on sound and hearing. Like Wells, these researchers attempted to compare and contrast what would become known as binaural hearing with the principles of binocular integration generally, and binocular color mixing specifically. They found that binocular vision did not follow the laws of combination of colors from different bands of the spectrum. Rather, it was found that when presenting a different color to each eye, they did not combine, but often competed for perceptual attention.[18][19][20][21]

</p>
                </section>
            </div>
        </div>
        <!--Metro style grid-->
        <div class="tile is-ancestor">
            <div class="tile is-4 is-parent is-vertical">

                <div class="tile box is-child frequency-sliders">

                    <!--Sliders and boxes-->
                    <p class="title">Sliders</p>
                    <p class="subtitle">Choose specific values with the text boxes</p>

                    <!--Left Ear-->
                    <p class="leftInfo">Left Ear</p>
                    <input class="input" id="leftHz" v-model="leftData" type="text" placeholder="Hz">
                    <input type="range" class="slider" id="leftSlider" onChange="test()" v-model="leftHz" max="1500" value="0" step="10">

                    <!--Right Ear-->
                    <p class="rightInfo">Right Ear</p>
                    <input class="input" id="rightHz" v-model="rightData" type="text" placeholder="Hz">
                    <input type="range" class="slider" id="rightSlider" max="1500" value="0" step="10">
                </div>

                <!--Current State-->
                <div class="tile is-child notification is-warning">
                    <p class="title currentState">State</p>
                    <p class="description">{{ message }}</p>
                </div>
            </div>

            <!--Binaural Beats Information-->
            <div class="tile is-parent is-vertical">
                <div class="tile is-child box notification is-success" id="presets">
                    <p class="title">Preset States</p>
                    <p class="subtitle">I want to be.....</p>
                    <div class="control">
                        <span class="select is-medium" id="dropdown">
                <select>
                  <option>Alert (Beta)</option>
                  <option>Relaxed (Alpha)</option>
                  <option>Creative (Theta)</option>
                  <option>Sleepy (Delta)</option>
                  <option>Intelligent (Gamma)</option>
                </select>
            </div>
          </div>
                <div class="tile is-parent">
                  <div class="tile is-child box notification is-danger binaural-info">
                      <p class="title">What are Binaural Beats?</p>
                      <p id="binaural-description">A binaural beat is an auditory illusion perceived when two different pure-tone sine waves, both with frequencies lower than 1500 Hz, with less than a 40 Hz difference between them, are presented to a listener dichotically (one through
                          each ear). For example, if a 530 Hz pure tone is presented to a subject's right ear, while a 520 Hz pure tone is presented to the subject's left ear, the listener will perceive the auditory illusion of a third tone, in addition
                          to the two pure-tones presented to each ear. The third sound is called a binaural beat, and in this example would have a perceived pitch correlating to a frequency of 10 Hz, that being the difference between the 530 Hz and 520
                          Hz pure tones presented to each ear.</p>
                  </div>
              </div>
            </div>
        </div>
                    </div>
        <script type="text/javascript" src="node_modules/tone/build/Tone.js"></script>
        <script type="text/javascript" src="scripts/sound.js"></script>
</body>
